{% extends 'app/base.html' %}
{% load static %}


{% block title %}Sobre Nosotros{% endblock title %}



{% block content %}

<div class="container my-5 shadow p-5">
    <p style="font-size: 30px; text-align: center;">
        <i class="fas fa-paw mx-3 text-primary"></i>
        <i class="text-primary">Sobre Nosotros</i>
        <i class="fas fa-paw mx-3 text-primary"></i>
    </p>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">En nuestra tienda, nos especializamos en brindar los mejores productos para consentir a tus adorables felinos. Trabajamos con marcas reconocidas y de confianza, asegurando calidad y satisfacción en cada artículo. Tu felicidad y la de tu compañero peludo son nuestra máxima prioridad.</p>
    </div>
    <br>
    <p style="font-size: 30px; text-align: center;">
        <i class="fas fa-paw mx-3 text-primary"></i>
        <i class="text-primary">Nuestra Misión</i>
        <i class="fas fa-paw mx-3 text-primary"></i>
    </p>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">"Ser la tienda de referencia en Perú para los amantes de los gatos, proporcionando productos de alta calidad, una experiencia de compra excepcional y un compromiso inquebrantable con el bienestar de tus adorables felinos. Estamos aquí para consentir a tus amigos peludos y ayudarte a crear momentos especiales con ellos cada día."</p>
    </div>
</div>
<!-- BOTÓN FLOTANTE DE WHATSAPP -->
<a href="https://wa.me/56976206891?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp whatsapp-icon"></i></a>
    <style>
        .whatsapp {
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            line-height: 59px;
            z-index:100;
        }
    </style>

{% endblock content %}