{% extends 'app/base.html' %}
{% load static %}


{% block title %}Sobre Nosotros{% endblock title %}


{% block banner_slider%}
<div id="carouselExampleIndicators" class="carousel slide">
    
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static "app/images/product/banner1.png" %}" class="d-block w-100" alt="banner_img1">
    </div>
    <div class="carousel-item">
        <img src="{% static "app/images/product/banner2.png" %}" class="d-block w-100" alt="banner_img1">
    </div>
    <div class="carousel-item">
        <img src="{% static "app/images/product/banner3.png" %}" class="d-block w-100" alt="banner_img3">
    </div>
    <div class="carousel-item">
        <img src="{% static "app/images/product/banner4.png" %}" class="d-block w-100" alt="banner_img4">
    </div>
    <div class="carousel-item">
        <img src="{% static "app/images/product/banner5.png" %}" class="d-block w-100" alt="banner_img5">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock banner_slider %}



{% block content %}

<div class="container my-5 shadow p-5">
    <p style="font-size: 30px; text-align: center;">
        <i class="fas fa-paw mx-3 text-primary"></i>
        <i class="text-primary">Sobre Nosotros</i>
        <i class="fas fa-paw mx-3 text-primary"></i>
    </p>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">En nuestra tienda, nos especializamos en brindar los mejores productos para consentir a tus adorables felinos. Trabajamos con marcas reconocidas y de confianza, asegurando calidad y satisfacción en cada artículo. Tu felicidad y la de tu compañero peludo son nuestra máxima prioridad.</p>
    </div>
    <br>
    <p style="font-size: 30px; text-align: center;">
        <i class="fas fa-paw mx-3 text-primary"></i>
        <i class="text-primary">Nuestra Misión</i>
        <i class="fas fa-paw mx-3 text-primary"></i>
    </p>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">"Ser la tienda de referencia en Perú para los amantes de los gatos, proporcionando productos de alta calidad, una experiencia de compra excepcional y un compromiso inquebrantable con el bienestar de tus adorables felinos. Estamos aquí para consentir a tus amigos peludos y ayudarte a crear momentos especiales con ellos cada día."</p>
    </div>
</div>
<!-- BOTÓN FLOTANTE DE WHATSAPP -->
<a href="https://wa.me/56976206891?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp whatsapp-icon"></i></a>
    <style>
        .whatsapp {
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            line-height: 59px;
            z-index:100;
        }
    </style>

{% endblock content %}