{% extends 'app/base.html' %}
{% load static %}


{% block title %}Sobre Nosotros{% endblock title %}


{% block banner_slider%}
<div id="carouselExampleIndicators" class="carousel slide">
    
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static "app/images/product/banner1.png" %}" class="d-block w-100" alt="banner_img1">
    </div>
    <div class="carousel-item">
        <img src="{% static "app/images/product/banner2.png" %}" class="d-block w-100" alt="banner_img1">
    </div>
    <div class="carousel-item">
        <img src="{% static "app/images/product/banner3.png" %}" class="d-block w-100" alt="banner_img3">
    </div>
    <div class="carousel-item">
        <img src="{% static "app/images/product/banner4.png" %}" class="d-block w-100" alt="banner_img4">
    </div>
    <div class="carousel-item">
        <img src="{% static "app/images/product/banner5.png" %}" class="d-block w-100" alt="banner_img5">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock banner_slider %}



{% block content %}

<div class="container my-5 shadow p-5">
    <br>
    <h2 class="text-center">Sobre Nosotros</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores eaque nemo laborum cupiditate? In itaque officiis numquam, fugit officia ab rerum velit qui sunt praesentium iusto repellendus quos omnis. Perspiciatis suscipit numquam veniam velit assumenda temporibus neque aliquam adipisci! </p>
    </div>

    <br><br>
    <h2 class="text-center">Misión</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores eaque nemo laborum cupiditate? In itaque officiis numquam, fugit officia ab rerum velit qui sunt praesentium iusto repellendus quos omnis. Perspiciatis suscipit numquam veniam velit assumenda temporibus neque aliquam adipisci! </p>
    </div>
    <br><br>
</div>


{% endblock content %}