{% extends 'app/base.html' %} {% load static %} {% block title %}Direcciones{%endblock title %} {% block content %}

<div class="container" my-5>
    <div class="row">

        <h3>Bienvenido, <span class="text-capitalize">{{request.user}}</span></h3><br></br>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                <a href="{% url 'profile' %}" class="btn btn">Perfil</a>
                </li>
                <li class="d-grid">
                <a href="{% url 'address' %}" class="btn btn-primary">Direcciones</a>
                </li>
            </ul>
        </div>



        <div class="col-sm-8 offset-sm-1">
            <div class="row">
                {% for ad in add %}
                <div class="col-sm-6">
                    <div class="card m-3">
                        <div class="card-body">
                            <h3>Dirección #{{forloop.counter}} </h3>
                            <p>Name: {{ad.name}}</p>
                            <p>Dirección: {{ad.locality}}</p>
                            <p>Ciudad: {{ad.city}}</p>
                            <p>Teléfono: {{ad.mobile}}</p>
                            <p>Distrito: {{ad.state}}</p>
                            <p>Código Postal: {{ad.zipcode}}</p>
                            <p class="text-center"> <a href="{% url 'updateAddress' pk=ad.id %}" type="button" class="btn btn-warning"> Editar </a> </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if messages %} 
                {% for msg in messages %}
                <div class="alert alert-{{msg.tags}} my-3" role="alert">{{msg}}</div>
                {% endfor %} 
                {% endif %}
            
        </div>

    </div>
</div>

{% endblock content %}
