{% extends 'app/base.html' %} {% load static %} {% block title %}Direcciones{%endblock title %} {% block content %}

<div class="container" my-5>
    <div class="row">

        <h3>Bienvenido, <span class="text-capitalize">{{request.user}}</span></h3><br></br>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                <a href="{% url 'profile' %}" class="btn btn">Perfil</a>
                </li>
                <li class="d-grid">
                <a href="{% url 'address' %}" class="btn btn-primary">Direcciones</a>
                </li>
            </ul>
        </div>



        <div class="col-sm-8 offset-sm-1">
            <div class="row">
                {% for ad in add %}
                <div class="col-sm-6">
                    <div class="card m-3">
                        <div class="card-body">
                            <h3>Dirección #{{forloop.counter}} </h3>
                            <p>Name: {{ad.name}}</p>
                            <p>Dirección: {{ad.locality}}</p>
                            <p>Ciudad: {{ad.city}}</p>
                            <p>Teléfono: {{ad.mobile}}</p>
                            <p>Distrito: {{ad.state}}</p>
                            <p>Código Postal: {{ad.zipcode}}</p>
                            <p class="text-center"> <a href="{% url 'updateAddress' pk=ad.id %}" type="button" class="btn btn-warning"> Editar </a> </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if messages %} 
                {% for msg in messages %}
                <div class="alert alert-{{msg.tags}} my-3" role="alert">{{msg}}</div>
                {% endfor %} 
                {% endif %}
            
        </div>

    </div>
</div>
<!-- BOTÓN FLOTANTE DE WHATSAPP -->
<a href="https://wa.me/56976206891?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp whatsapp-icon"></i></a>
    <style>
        .whatsapp {
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            line-height: 59px;
            z-index:100;
        }
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 70px;
            background-color: #f8f9fa;
        }
    </style>

{% endblock content %}
