<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zooming/2.3.1/zooming.min.js"></script>
        <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <title>Catsy | {% block title %} {% endblock title %}</title>
    </head>
<body>
    <div class="alert alert-info text-center slide-in" role="alert">
        <div class="sliding-text">
            <strong>¡Promoción especial!</strong> Obtén un 20% de descuento en todos los juguetes para gatos. Usa el código <strong>CATTOYS20</strong> al realizar tu compra. <a href="{% url 'category' 'JU' %}" class="alert-link">Compra ahora</a>.
        </div>
    </div>  
    <nav class="navbar navbar-expand-lg bg-primary sticky-top" data-bs-theme="dark">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="/">
                <img src="{% static 'app/images/catsy_logo_sm_white.png' %}" width="80" height="80" alt="catsy_logo">
                <img src="{% static 'app/images/catsy_name_white.png' %}" width="120" height="45"  alt="catsy_logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{%url 'category' 'AR' %}">Arena</a></li>
                            <li><a class="dropdown-item" href="{%url 'category' 'CO' %}">Comida</a></li>
                            <li><a class="dropdown-item" href="{%url 'category' 'JU' %}">Juguetes</a></li>
                            <li><a class="dropdown-item" href="{%url 'category' 'AC' %}">Accesorios</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                    </li>
                </ul>
                <ul class="d-xxl-flex navbar-nav mb-0 mx-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-capitalize" href="#" aria-expanded="false" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hola {{request.user}} </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{% url 'address' %}">Mis Direcciones</a></li>
                            <li><a class="dropdown-item" href="{% url 'showcart' %}">Mis Pedidos</a></li>
                            <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Cambiar Contraseña</a></li>
                            <li>
                                <a action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                                </a>
                                <!-- <a class="dropdown-item" href="{% url 'logout' %}"></a> -->
                            </li>
                        </ul>   	
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'showcart' %}"> {% if totalitem > 0 %}<span class="badge bg-danger"> {{ totalitem }} </span>{%endif%}  <span>  </span><i class="fas fa-shopping-cart"></i></a>  
                    </li>
                    <li>
                        <a href="tel:+56976206891"><i class="fas fa-phone" style="width: 1.5rem; height: 1.5rem; margin-top: 0.5rem;"></i></a> 
                    </li>                      
                    {% else %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>  
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'customerregistration' %}">Registrarse</a>  
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex" role="search" action="/search">
                    <input class="form-control me-2 bg-white" type="search" placeholder="Buscar Productos" name="search" aria-label="Search">
                    <button class="btn btn-light shadow-sm" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    {% block banner_slider %}{% endblock banner_slider %}
    {% block content %}{% endblock content %}
    {% block information %}{% endblock information %}
    <footer class="site-footer section-padding ">            
        <div class="container-fluid bg-dark ">
            <div class="row p-5 ">
                <div class="col-12 offset-1">
                    <h2 class="text-white mb-4 me-6 " ><img src="{% static 'app/images/catsy_name_white.png' %}" width="150" height="50"  alt="catsy_logo"> </h2>
                </div>
                <div class="col-lg-3 col-md-7 col-xs-12 tooplate-mt30 text-white offset-1">
                    <a name="contact"></a>
                    <h3 class="text-white mb-lg-4 mb-3"><strong>Ubicación</strong></h3>
                    <p>Ricardo Palma #836, Lima, Perú.</p>
                    <a href=https://goo.gl/maps/989t2Grs5NpPUbCk8 target="_blank" class="custom-btn btn btn-dark mt-2 border border-secondary">Ver Ubicación</a>
                </div>
                <div class="col-lg-3 col-md-5 col-xs-12 tooplate-mt30 text-white offset-1 ">
                    <h3 class="text-white mb-lg-4 mb-3"><strong>Horarios</strong></h3>
                    <p class="mb-2">Lunes a Viernes: 10:00 a 20:00.</p>
                    <p class="mb-2">Sábado: 10:00 a 18:00.</p>
                    
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 tooplate-mt30 offset-1">
                    <h3 class="text-white mb-lg-4 mb-3"><strong>Redes Sociales</strong></h3>
                    <a href="https://www.facebook.com" target="_blank" class="mx-1 bi-facebook"></a>
                    <a href="https://www.instagram.com"target="_blank" class="mx-1 bi-instagram" ></a>
                    <a href="https://www.twitter.com/"target="_blank" class="mx-1 bi-twitter"></a>
                    <a href="https://www.youtube.com"target="_blank" class="mx-1 bi-youtube"></a>
                </div>
            </div>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'app/js/all.min.js' %}"></script>
<script src="{% static 'app/js/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zooming/2.3.1/zooming.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>