{% extends 'app/base.html' %}
{% load static %}
{% block title %}Pagar{% endblock title %}
{% block content %}
<div class="container">
    {% if messages %} 
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}} my-3" role="alert">{{msg}}</div>
        {% endfor %} 
    {% endif %}
<div class="row mt-5">
    <div class="col-sm-6">
        <h4>Tu pedido</h4>
        <hr>
        {% for item in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Producto: {{item.product.title}}</h5>
                    <p>Cantidad: {{item.quantity}}</p>
                    <p class="fw-bold">Precio: S/. {{item.product.discounted_price}}</p>
                </div>
            </div>
        {% endfor %}
        <p class="fw-bold">Total + S/. 10.00 = {{totalamount}}</p>
        <small>Términos y condiciones: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum soluta officiis natus vitae reiciendis est eaque fugit consequuntur recusandae eligendi?</small>
    </div>
    <div class="col-sm-4 offset-sm-1">
        <h4>Seleccione una dirección para el envío</h4>
        <hr>
        <form method="post" id="myform">
            {% csrf_token %}
            {% for ad in add %}
            <div class="cord">
                <div class="cord-body">
                <h5>{{ad.name}}</h5>
                <p>Celular: {{ad.mobile}}</p>
                <p>{{ad.locality}}, {{ad.state}}, {{ad.city}} - {{ad.zipcode}} </p>
                </div>
            </div>
            <div class="form-check mt-2 mb-5">
                <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                <label class="form-check-label fw-bold" for="custad{{forloop.counter}}">
                    Dirección: {{forloop.counter}} </label>
                </div>
            {% endfor %}
            <div class="form-check mb-3">
                <label for="totalamount" class="form-label">Total</label>
                <input type="number" class="form-control" id="totalamount" name="totalamount" value="{{totalamount}}" readonly>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continuar</button>
            </div>
        </form> 
    </div>
</div>
</div>
<br><br>
{% endblock content%}