{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cambiar Contraseña {% endblock title %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <h3>Bienvenido, {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Cambio de contraseña completado</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Contraseña Actualizada Correctamente!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
