{% extends 'app/base.html' %}
{% load static %}
{% block title %}Resultados de búsqueda {% endblock title %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% for prod in product %}
                    <div class="col-sm-4 text-center mb-4 hover-shadow">
                        <a href="{% url 'product-detail' prod.id %}" class="btn">
                            <div>
                                <img src="{{ prod.product_image.url }}" width="300" height="200" />
                                <div class="fw-bold">{{ prod.title }}</div>
                                <div class="fw-bold text-danger">
                                    S/. {{ prod.discounted_price }}
                                    <small class="fw-light text-decoration-line-through text-muted">S/. {{ prod.selling_price }}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
